.component {
  width: 75%;
  margin-left: 1.25rem;
}

.list {
  display: grid;
  column-gap: 1rem;
  grid-template-columns: repeat(4,minmax(0,1fr));
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-item {
  margin-bottom: 1rem;
}

.list-item-wrapper {
  width: 100%;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: .75rem;
  aspect-ratio: 1/1;
  margin-bottom: 1rem;
  box-shadow: 0 1px 1px hsl(0deg 0% 0%/.075),0 2px 2px hsl(0deg 0% 0%/.075),0 4px 4px hsl(0deg 0% 0%/.075),0 8px 8px hsl(0deg 0% 0%/.075),0 16px 16px hsl(0deg 0% 0%/.075);
}

.image-src {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center;
  border-radius: .75rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

@media only screen and (max-width: 765px) {
  .component {
    width: 100%;
  }
  .list {
    grid-template-columns: repeat(2,minmax(0,1fr));
  }
}