@import "../../assets/styles/variables.scss";

.component {
  display: flex;
  align-items: center;
  cursor: pointer;
  background: $grey100;
  transition: all .35s linear;
  border-radius: 0.25rem;
  border: 2px solid $grey100;
  padding: 0.5rem 1.25rem;
  svg {
    margin-left: 0.75rem;
    transition: transform .5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  &:hover {
    background: #e5e5e546;
    svg {
      transform: rotate(190deg)
    }
  }
}