@import "../../assets/styles/variables.scss";

.component {
  margin-left: 1rem;
  width: calc(100vw - 280px - 4rem);
  // width: 75%;
  // margin-left: 1.25rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid $grey100;
}

.header-title {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  :global {
    .animated-container {
      opacity: .4;
    }
  }
}

.title {
  font-size: 2rem;
  line-height: 2.5rem;
  text-transform: uppercase;
  margin: 0;
}

.title-divider {
  margin: 0 0.75rem;
  font-size: 2rem;
  line-height: 2.5rem;
  opacity: .4;
}



// @media only screen and (max-width: 1124px) {
//   .list {
//     grid-template-columns: repeat(4,minmax(0,1fr));
//   }
// }

@media only screen and (max-width: 765px) {
  .component {
    width: 100%;
    margin-left: 0;
  }
  .list {
    grid-template-columns: repeat(2,minmax(0,1fr));
  }
}