@import '../../assets/styles/variables.scss';

.component {
  padding: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-item {
  padding: 2.5px 0;
  display: flex;
  align-items: center;
}

.label {
  display: block;
  width: 100%;
  cursor: pointer;
  font-size: 0.75rem;
  text-transform: uppercase;
  span {
    margin-left: 5px;
  }
  &:hover {
    background: $grey100;
  }
}

.input {
  width: 1rem;
  height: 1rem;
  border-radius: .25rem;
  border-color: #d4d4d4;
}