@import '../../assets/styles/variables.scss';

.accordion {
  border-bottom: 1px solid $grey100;
  border-top: 1px solid $grey100;
}

.accordion-title {
  margin: 0;
  padding: 0;
}

.count {
  background: $grey100;
  border-radius: 10px;
  margin-left: 5px;
  font-style: italic;
}

.accordion-title-button {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  font-size: .75rem;
  line-height: 1rem;
  font-weight: 600;
  background: none;
  width: 100%;
  box-shadow: none;
  border: none;
  cursor: pointer;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1px;
  &:hover {
    background: $grey100;
  }
}

.expandable-element {
  padding: 0 0.75rem;
}

.is-expanded {
  .expandable-element {
    display: block;
    padding-bottom: 1rem;
  }
}

.is-collapsed {
  .expandable-element {
    display: none;
  }
}
